.App {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.App-header {
  background-image: url('./components/SearchForm/images/form-backgorund.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 200px;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.App-main {
  width: 100%;
  margin: 0 auto;
  padding: 10px 20px 0px 20px;
}

.App-footer {
  margin-top: auto;
}

@media (max-width: 599px) {
  .App-header {
    height: 280px;
  }
}
