.App {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.App-header {
  background-image: url("./src/assets/images/form-backgorund.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 200px;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.App-main {
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  padding: 10px 20px 0px 20px;
}

.App-footer {
  margin-top: auto;
}

.loader-wrapper {
  text-align: center;
}

.loader {
  color: #000;
  font-family: Consolas, Menlo, Monaco, monospace;
  font-weight: bold;
  font-size: 36px;
  opacity: 0.8;
}
.loader:before {
  content: "{";
  display: inline-block;
  animation: pulse 0.4s alternate infinite ease-in-out;
}
.loader:after {
  content: "}";
  display: inline-block;
  animation: pulse 0.4s 0.3s alternate infinite ease-in-out;
}

@keyframes pulse {
  to {
    transform: scale(0.8);
    opacity: 0.5;
  }
}

@media (max-width: 599px) {
  .App-header {
    height: 280px;
  }
}
