.App-header {
  background-image: url('./components/SearchForm/images/form-backgorund.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 200px;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}