.search-form {
  width: 650px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-width: 200px;
}

.search-form-title {
  font-family: copperplate;
  font-weight: 500;
  color: #fff;
  font-size: 40px;
}

.input-wrapper {
  background-color: #fff;
  width: 520px;
  display: flex;
  align-items: center;
  border-radius: 17px;
  height: 36px;
  margin-top: 20px;
  padding: 0px 15px;
}

input {
  background-color: transparent;
  border: none;
  height: 100%;
  width: 100%;
  font-size: 16px;
  margin-left: 10px;
}

input:focus {
  outline: none;
}

#search-icon {
  font-size: 18px;
  color: royalblue;
}

#search-icon:hover {
  cursor: pointer;
}

.sortings-wrapper {
  display: flex;
  width: 100%;
  justify-content: center;
  margin-top: 20px;
}

.sortings {
  display: flex;
  align-items: center;
  justify-content: center;
}

.sortings:not(:last-child) {
  margin-right: 30px;
}

label {
  color: #fff;
  text-align: center;
  font-size: 16px;
  font-weight: 300;
  font-family: copperplate;
  white-space: nowrap;
}

select {
  border: none;
  margin-left: 10px;
  padding: 0px 10px;
  height: 36px;
  width: 180px;
  font-size: 18px;
}

select:focus {
  outline: none;
}