.search-form {
  width: 650px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.search-form-title {
  font-family: copperplate;
  font-weight: 500;
  color: #fff;
  font-size: 40px;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
}

.input-wrapper {
  background-color: #fff;
  width: 520px;
  display: flex;
  align-items: center;
  border-radius: 17px;
  height: 36px;
  margin-top: 20px;
  padding: 0px 15px;
}

input {
  background-color: transparent;
  border: none;
  height: 100%;
  width: 100%;
  font-size: 16px;
  margin-left: 10px;
}

input:focus {
  outline: none;
}

#search-icon {
  font-size: 18px;
  color: royalblue;
}

#search-icon:hover {
  cursor: pointer;
}

.sortings-wrapper {
  display: flex;
  width: 100%;
  justify-content: center;
  margin-top: 20px;
}

.sortings {
  display: flex;
  align-items: center;
  justify-content: center;
}

.sortings:not(:last-child) {
  margin-right: 30px;
}

label {
  color: #fff;
  text-align: center;
  font-size: 16px;
  font-weight: 300;
  font-family: copperplate;
  white-space: nowrap;
}

select {
  border: none;
  margin-left: 10px;
  padding: 0px 10px;
  height: 36px;
  width: 180px;
  font-size: 18px;
}

select:focus {
  outline: none;
}

@media (max-width: 767px) {
  .search-form {
    width: 87.5%;
  }

  .input-wrapper {
    width: 80%;
    margin: 20px 0px 0px 0px;
  }

  .sortings:not(:last-child) {
    margin: 0px 10px 0px 0px;
  }
}

@media (max-width: 599px) {
  .search-form-title {
    font-size: 36px;
  }

  .input-wrapper {
    width: 80%;
    margin: 20px 0px 0px 0px;
  }


  .sortings-wrapper {
    flex-direction: column;
    margin-top: 30px;
  }

  .sortings:not(:last-child) {
    margin: 0px 0px 30px 0px;
  }
}
